*{
    box-sizing: border-box;
}
html, body{
    overflow-x: hidden;
    height: 100%; 
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #ff6348;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;

}

.main{
    height: 100%;
    margin-top: 60px;
    padding: 10px 50px;
}
#sidebarMenu{
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    margin-top: 60px;
    background-color: #2e86de;
    transform:translateX(-250px);
    transition:transform 250ms ease-in-out; 
}
#openSidebar:checked ~ #sidebarMenu{
    transform:translateX(0px);
}
.menu{
    list-style: none;
    max-width: 0;
    padding: 0;
    

}
.menu li{
    color:#fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    width: 250px;
}
.menu li a{
    color:#fff;
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
    text-wrap: nowrap;

}
#sidebarIconToggle{
    height:22px;
    width:22px;
    position: absolute;
    z-index:20 ;
    top: 22px;
    left: 15px;
    cursor: pointer;

}
.spinner{
    height:3px;
    background-color: #fff;
    transition: all 0.3s;
}
.spinner.middle, .spinner.buttom{
    margin-top: 3px;
}
#openSidebar:checked ~ #sidebarIconToggle > .spinner.middle{
    opacity: 0;
}

#openSidebar:checked ~ #sidebarIconToggle > .spinner.top{
    transform: rotate(130deg);
    margin-top: 8px;
}

#openSidebar:checked ~ #sidebarIconToggle > .spinner.buttom{
    transform: rotate(-135deg);
    margin-top: -9px;
}


